body {
    background: #071021;
    color: white;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 290px;
    min-height: 100vh;
    background: #101b2d;
    padding: 25px;
    border-right: 1px solid #26344d;
}

.logo-box {
    width: 60px;
    height: 60px;
    background: #2458e6;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 15px;
}

.portal-text {
    color: #8fb4ff;
    letter-spacing: 6px;
}

.system-name {
    color: #9ba8bd;
    margin-top: 25px;
    margin-bottom: 40px;
}

.nav-link {
    color: #c9d3e3;
    padding: 14px 18px;
    margin-bottom: 10px;
    border-radius: 14px;
    text-decoration: none;
}

.nav-link:hover {
    background: #1b2a44;
    color: white;
}

.nav-link.active {
    background: #2458e6;
    color: white;
}

.logout {
    margin-top: 60px;
}

.main-content {
    flex: 1;
    padding: 50px;
}

.main-content h1 {
    font-size: 42px;
    font-weight: bold;
}

.subtitle {
    color: #9ba8bd;
    font-size: 18px;
}

.dashboard-card {
    background: #101b2d;
    border: 1px solid #26344d;
    border-radius: 18px;
    padding: 35px;
}

.dashboard-card p {
    color: #9ba8bd;
    font-size: 18px;
}

.dashboard-card h2 {
    font-size: 42px;
    font-weight: bold;
}

.quick-actions {
    background: #101b2d;
    border: 1px solid #26344d;
    border-radius: 18px;
    padding: 35px;
}

.action-box {
    background: #050b18;
    border: 1px solid #26344d;
    border-radius: 18px;
    padding: 25px;
}

.action-box .btn {
    margin-right: 12px;
    margin-bottom: 10px;
    padding: 12px 22px;
    border-radius: 12px;
}